@font-face {
    font-family: iransharp;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/iransharp_regular_web.eot');
    src: url('../fonts/eot/iransharp_regular_web.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/woff2/iransharp_regular_web.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/woff/iransharp_regular_web.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/ttf/iransharp_regular_web.ttf') format('truetype');
}
@font-face {
	font-family: iransharpbold;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/eot/iranyekanwebbold.eot');
	src: url('../fonts/eot/iransharp_bold_web.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/iransharp_bold_web.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/iransharp_bold_web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iransharp_bold_web.ttf') format('truetype');
}


:root {
    --color-iceblue: #D6e6f3;
    --color-powerblue: #A6C5D7;
    --color-sapphire: #0F52BA;
    --color-deepheavy: #000926;
    --color-success: #2FBF71;
    --color-success-light: #E6F7EF;
    --color-danger: #E5484D;
    --color-danger-light: #FDECEC;
    --color-card: #FFFFFF;
    --color-border: #E1E3E6;
}

.cart-main {
    direction: rtl;
    font-family: "iransharp";
    margin: 0;
    padding: 30px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    /*min-height: 100vh;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    justify-items: center;
    background: #efefef44;
}

.cart {
    direction: rtl;
    position: relative;
    width: 260px;
    height: min-content;
    padding: 15px;
    background: #ffffff;
    border: 1px solid #E3EDF5;
    border-radius: 20px;
    transition: .4s;
    text-align: right;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.cart:hover {
    border-color: #ffffff;
    transform: translateY(-10px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, .08);
}


.cart .cart-header p {
    font-family: "iransharpbold";
    font-weight: 2000;
    color: var(--color-deepheavy);
    font-size: 15px;
    padding: 5px;
    padding-top: 10px;
}

.cart .card-img .status {

    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 20px;
    background: #dcfce7;
    color: #166534;
}



.cart .card-img {
    position: relative;
    border-radius: 12px;
    padding: 10px 0px 0px;
    overflow: hidden;
}

.cart .card-img img {
    width: 100%;
    height: 100%;
    transition: .4s;
}

.cart:hover .card-img img {
    transform: scale(1.06);
}

.cart .cart-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cart .cart-details .price p {
    color: var(--color-sapphire);
    font-size: 20px;
    padding: 5px;
}

.cart .cart-details .price strong {
    font-family: 'iransharp', sans-serif;
    color: var(--color-sapphire);
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

.cart .cart-details .colors {
    display: flex;
}

.cart .cart-details .colors div {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 4px;
}

.cart .cart-details .colors div:nth-child(1) {
    background: linear-gradient(90deg, #b72c31, #efb9b0);
}

.cart .cart-details .colors div:nth-child(2) {
    background: linear-gradient(90deg, #25476d, #a8bed2);
}

.cart .cart-details .colors div:nth-child(3) {
    background: linear-gradient(90deg, #10505b, #a4beb2);
}



.cart .card-sizes {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}


.cart .card-sizes span.selected {
    color: #4e73f8;
    background: #0037ff;
}

.cart .cart-footer{
    display: flex;
    justify-content: center;
}

.cart .cart-footer button {
    cursor: pointer;
    width: calc(100% - 24px);
    display: block;
    height: 50px;
    border-radius: 12px;
    background: #1d4ed8;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: .5px;
    border: none;
    outline: var(--color-iceblue);
    margin-bottom: 18px;
}